# The root CMakeLists.txt which controls the build
include CMakeLists.txt
include VERSION

# Files configured at build-time by CMake
include src/endplay/config.py.in
include src/endplay/_dds/__init__.py.in

# Files required for compiling the dds library
include libs/dds/include/*
include libs/dds/src/*

# Templates for the dealer executable
include src/endplay/dealer/actions/templates/*