[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyparsing = "*"
tqdm = "*"
numpy = ">=1.16"
matplotlib = "*"
more-itertools = "*"

[dev-packages]
setuptools = ">=42"
wheel = "*"
cmake = "*"
pytest = "*"
isort = "*"
black = "*"
mypy = "*"
